#map_box {
    width: 650px;
    height: 600px;
}

.footer {
    background-color: #75daad;
    color: #216353;
}
.contact {
    color: #216353;
    margin: 0 auto;
    display: block;
    width: 100px;
}
.btn-flat-logo:hover {
    background-color: #75daad;
}
.how_to {
    color: #ffffff;
    background-color: #216353;
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    margin: 2px 5px;
    text-decoration: none;
    transition: .4s;
    border: none;
}
.navbar {
    background-color: #ffffff;
    border-bottom: thin solid #75daad;
}
.navbar-logo {
    width: 65%;
}
.logout_button {
    color: #216353;
    background-color: #75daad;
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    margin: 2px 5px;
    text-decoration: none;
    transition: .4s;
    border: none;
}
.login_button {
    color: #216353;
    background-color: #75daad;
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    margin: 2px 5px;
    text-decoration: none;
    transition: .4s;
    border: none;
}
.signup_button {
    color: #ffffff;
    background-color: #f56e73;
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    margin: 2px 5px;
    text-decoration: none;
    transition: .4s;
    border: none;
}

.logout_button:hover {
    background-color: #99efc8;
}

.login_button:hover {
    background-color: #99efc8;
}

.signup_button:hover {
    background-color: #99efc8;
}